/* Removing default brownser css config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Declaring global variables */
:root {
  /* Global variables, mainly related to colors */
  --primary-color-5: #EFE6FD;
  --primary-color-30: #9654F4;
  --primary-color-10: #CEB0FA;
  --primary-color-60: #5900D9;
  --primary-color-90: #290064;

  --secondary-color-5: #FFF7FA;
  --secondary-color-10: #FEE5F0;
  --secondary-color-30: #FEC7DF;
  --secondary-color-60: #E69CBC;
  --secondary-color-90: #6A4857;

  --gray-color-05: #ECECEC;
  --gray-color-10: #B3B3B3;
  --gray-color-30: #808080;
  --gray-color-60: #4C4C4C;
  --gray-color-90: #191919;

  --white-color: #FFFFFF;
  --black-color: #000000;

  --gradient-color-linear: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(268deg, var(--primary-color-30, #FEC7DF) -27.31%, #64C6CF 13.78%, #EEC643 48.03%, var(--secondary-color-30, #9654F4) 91.4%);
  --gradient-color-radial: radial-gradient(150.41% 88.89% at 67.1% 8.5%, var(--primary-color-30, rgba(254, 199, 223, 0.40)) 0%, rgba(100, 198, 207, 0.40) 34.62%, rgba(238, 198, 67, 0.40) 63.46%, var(--secondary-color-30, rgba(150, 84, 244, 0.40)) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
  --header-bg-color: rgba(0, 0, 0, 0.25);
  --header-border-color: var(--gray-color-05);

  --mobile-base-width: 768;
  --desktop-base-width: 1600;

  /* Motion config */
  --motion-basic-config: .55, 0, 0, 1;
  --motion-quick-config: 0, 0, 1, 1;
}

/* First font family setup */
@font-face {
  font-family: "Public Sans";
  src: url("font/public-sans.ttf");
}

/* Second font family setup */
@font-face {
  font-family: "Helvetica";
  src: url("/font/Helvetica.ttc");
}

/* Custom typograhy */
.heading1 {
  font-family: 'Public Sans';
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Switching the values to Heading3 configs */
@media (768px >=width) {
  .heading1 {
    font-family: "Public Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.heading2 {
  font-family: 'Public Sans';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--gray-color-90);
}

.heading3 {
  font-family: 'Public Sans';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--gray-color-90);
}

.body1 {
  font-family: 'Helvetica';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray-color-90);
}

.body2 {
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav {
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray-color-10);
}