.who-are-we-wrapper {
  display: flex;
  /* height: 21.75rem; */
  padding-bottom: 3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-self: stretch;

  background-color: var(--section-purple-color);

  .who-are-we-wrapper-insider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      position: absolute;
      pointer-events: none;
    }

    .who-are-we-overlay {
      position: absolute;
      offset: 0;
      height: 100%;
      width: 100%;
      background-color: unset;
      z-index: 1;
      transition: all 350ms cubic-bezier(var(--motion-basic-config));
    }

    &:hover {
      .who-are-we-overlay {
        background-color: var(--overlay-black-color-60);
      }

      .who-are-we-overlay-content {
        background: var(--primary-color-5);
      }
    }

    .who-are-we-overlay-content {

      display: flex;
      z-index: 2;
      max-width: 23.5rem;
      padding: 1.5em 1.25em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;

      background: rgba(239, 230, 253, 0.95);

      transition: all 350ms cubic-bezier(var(--motion-basic-config));

      .text-and-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;

        h2 {
          text-align: center;
        }

        p {
          color: var(--gray-color-60);
          text-align: center;
        }
      }
    }
  }
}


/* For mobile */
@media (768px >=width) {
  .who-are-we-wrapper {
    padding-bottom: 1.5em;

    .who-are-we-wrapper-insider {

      .who-are-we-overlay-content {
        padding: 1.5rem 1rem;
        gap: 1em;

        max-width: 16em;
        ;
      }
    }

  }
}